header {
    background-color: #244751;
    color: #e8fdff;
}

body {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

main {
    background-color: white;
    padding: 25px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo {
    transition: box-shadow 0.2s;
}

a.photo:hover {
    box-shadow: 0px 0px 10px grey;
}